#!/bin/bash

alias php=php73
alias c='clear'
alias copy='xclip -selection clipboard'
alias q='exit'
alias s='subl'
alias eb='vim $OCITRC_DIR/.ocitrc'
alias ebn='vim $HOME/github/KWRI/documents'
alias ebw='vim $HOME/.config/awesome'
alias ebi='vim $HOME/.config/i3/config'
alias ebvim='vim $HOME/.config/nvim/init.vim'
alias vf='vim $(fzf)'
alias codef='code $(fzf)'
alias rs='source $OCITRC_DIR/.ocitrc'
alias w='cd $HOME/github/KWRI'
alias sp='php -S localhost:8000 -t public'
alias sp.='php -S localhost:8000'
alias pf='php vendor/bin/phpunit --filter'
alias pff='php-cs-fixer fix --using-cache=false --rules=@PSR2 $(fzf)'
alias pt='php vendor/bin/phpunit --no-coverage $(find tests | fzf)'
alias a='php artisan'
alias m='php artisan migrate'
alias pma='php -S localhost:2000 -t /usr/share/webapps/phpMyAdmin/ &'
alias rds='redis-server'
alias open='xdg-open'
alias gcon='node /home/ahmadrosid/github/KWRI/documents/scripts/google_connect.js'
alias kwtok='node /home/ahmadrosid/github/KWRI/documents/scripts/get_access_token.js'
alias gcl='git clone --recursive'
alias gfo='git fetch origin'
alias ggl='git pull origin $(current_branch)'
alias gp='git push origin $(current_branch)'
alias ga='git add .'
alias gc='git commit -m'
alias gcd='git checkout develop'
alias gcm='git checkout master'
alias gco='git checkout'
alias gst='git status'
alias glo='git log --oneline'
alias nah='git reset --hard;git clean -df'
alias ghm='cd $HOME/github/ahmadrosid'
alias mc='moonc .'
alias pma='php -S localhost:2000 -t  /usr/share/webapps/phpMyAdmin &'
alias ad='add'
alias audio="pactl list cards short | rofi -theme Pop-Dark -width 50 -dmenu -i -p select-sink | awk '{print $1}' | tr -d '\r\n'"

